@import url(https://fonts.googleapis.com/css?family=Actor:400,500);

html, body {
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	background-color: cornflowerblue;
	font-family: 'Actor', sans-serif;
}

main {
	width: 80%;
	margin: auto;
	padding: 30px;
	background-color: white;
}

h1#title {
	text-align: center;
}

.row {
	display: block;
}

.left {
	display: inline-block;
	width: 48%;
	vertical-align: top;
	text-align: right;
	margin-top: 10px;
	padding: 5px;
}

.right {
	display: inline-block;
	width: 48%;
	vertical-align: middle;
}

.input-field {
	height: 16px;
	padding: 5px;
	width: 230px;
	margin: 10px;
}

#dropdown {
	height: 30px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#radios, #checks {
	padding: 5px;
	margin: 10px 0;
}

.radio-label {
	margin-right: 10px;
}

li.radio label {
	font-size: 14px;
}

textarea {
	margin: 10px;
	padding: 5px;
	width: 80%;
}

.bottom {
	text-align: center;
}

#submit {
  background-color: #59ace0;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 96px;
  margin: 10px;
  border: 0px solid;
}